@charset "UTF-8";
@import "kiso.css";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Noto+Sans+JP:wght@100..900&display=swap");

/*
----------------------------------------
Foundation
----------------------------------------
*/

/* Root
   ----------------------------------------------------------------- */
:root {
	--color-base: #ffffff;
	--color-main: #efefef;
	--color-accent: #4fb7a6;
	--color-font: #0a1922;
	--color-form_main: #7e7e7e;
	--color-label-sub: #9e9e9e;
	--color-form_accent: #eb4a68;
	--wrapper-width: 124rem;
	--header-height: 12vh;
	--header-height-sm: 10vh;
	--header-current-height: max(var(--header-height), 14.4rem);
	--font-notosans: "Noto Sans JP", sans-serif;
	--font-fredoka: "Fredoka", sans-serif;
	--font-size-xl: 3.2rem;
	--font-size-lm: 2.4rem;
	--font-size-sm: 1.6rem;
}

@media (width <= 1260px) {
	:root {
		--header-current-height: max(8rem, var(--header-height));
	}
}
@media (width <= 820px) {
	:root {
		--header-current-height: max(6.4rem, var(--header-height));
	}
}

/* Base
   ----------------------------------------------------------------- */
html {
	container-type: scroll-state;
	color: var(--color-font);
	font-size: 62.5%; /* 1rem = 10px */
	@media (width < 1260px) {
		font-size: 52.5%;
	}
	@media (width < 950px) {
		font-size: 47.5%;
	}
	@media (width < 820px) {
		font-size: 62.5%;
		word-break: auto-phrase;
	}
}
body {
	line-height: 1;
}
section {
	overflow-x: clip;
}
p,
a {
	font-size: var(--font-size-sm);
	transition: color 0.1s ease;
}
.grid-center {
	display: grid;
	place-items: center;
}
.title {
	font-size: var(--font-size-xl);
	@media (width <= 820px) {
		font-size: var(--font-size-lm);
	}
	@media (width <= 460px) {
		text-align: center;
	}
}
.sec-title {
	display: grid;
	gap: 0.4rem;
}
.sec-title:after {
	color: var(--color-accent);
	font-size: var(--font-size-lm);
	letter-spacing: 0.24rem;
}
.button {
	display: flex;
	align-items: center;
	z-index: 10;
	border-radius: 7.5rem;
	background: var(--color-accent);
	color: #ffffff;
	transition: 0.25s ease;
}
.button:hover {
	outline: 0.5rem solid var(--color-accent);
	background: var(--color-base);
	color: var(--color-accent);
}
.button::before,
.button::after {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(226deg)
		brightness(106%) contrast(103%);
	/* svgを黒一色で書き出し、ホバーで色を変化させるためfilterを使用 */
}
.button:hover::before,
.button:hover::after {
	filter: invert(62%) sepia(70%) saturate(304%) hue-rotate(121deg)
		brightness(90%) contrast(86%);
}
.decorations {
	position: absolute;
	z-index: -1;
	width: stretch;
	height: stretch;
	@media (width <= 400px) {
		display: none;
	}
}
.decorations > img {
	position: absolute;
	pointer-events: none;
	user-select: none;
	@media (width <= 820px) {
		scale: 0.7;
	}
	@media (width <= 500px) {
		scale: 0.6;
	}
}
/*
----------------------------------------
Components
----------------------------------------
*/
/* Header
   ----------------------------------------------------------------- */
.header {
	position: fixed;
	anchor-name: --header-anchor;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
	transition: top 0.3s ease-in-out;
	background-color: var(--color-base);
	height: max(var(--header-height), 14.4rem);
	@media (width <= 1260px) {
		height: max(8rem, var(--header-height));
	}
	@media (width <= 820px) {
		height: max(6.4rem, var(--header-height));
	}
}
.header--visible {
	top: 0;
}
.header--hidden {
	top: calc(-1 * var(--header-current-height));
}
.header_wrapper {
	display: flex;
	justify-content: space-between;
	width: min(var(--wrapper-width), 100%);
	height: stretch;
	@media (width <= 1440px) {
		width: calc(100% - 9.6rem);
	}
	@media (width <= 820px) {
		width: calc(100% - 2.4rem);
	}
}
.header_logo-wrapper {
	display: flex;
	align-items: center;
}
.header_logo {
	display: flex;
	align-items: center;
	width: auto;
	height: max(8vh, 8rem);
	@media (width <= 820px) {
		height: stretch;
	}
	@media (width <= 360px) {
		height: min(24vw, 5.6rem);
	}
}
.header_nav-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	@media (width <= 1260px) {
		gap: 1.2rem;
	}
}
.header_actions {
	display: flex;
	align-items: center;
	gap: 1.6rem;
	@media (width <= 1260px) {
		display: none;
	}
}
.header_button {
	display: grid;
	place-items: center;
	gap: 1rem;
	border-radius: 0 0 1.6rem 1.6rem;
	background-color: var(--color-accent);
	width: 22.4rem;
	height: 5.6rem;
	color: #ffffff;
	font-weight: 500;
	font-size: 2rem;
	letter-spacing: 0.2rem;
	@media (width <= 1260px) {
		padding: 0 2.4rem;
		width: auto;
		min-width: 16rem;
		height: stretch;
	}
}
.header .nav {
	margin-block: auto;
	@media (width <= 1260px) {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		transform: translateY(-2rem);
		opacity: 0;
		z-index: 999;
		transition:
			transform 0.25s ease,
			opacity 0.25s ease;
		box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.1);
		border-top: 0.1rem solid #e5e5e5;
		background: #ffffff;
		padding: 4rem;
		max-height: 100svh;
		overflow-y: auto;
		pointer-events: none;
	}
}
@media (width <= 1260px) {
	.header .nav--open {
		transform: translateY(0);
		opacity: 1;
		pointer-events: auto;
	}
	.header .nav_list {
		flex-direction: column;
		align-items: flex-start;
		gap: 1.6rem;
	}
}
.header .nav_list {
	display: flex;
	gap: 3.2rem;
}
.header .nav_link a {
	display: inline-block;
	padding: 1rem 0;
}
.header .nav_link a:hover {
	color: var(--color-accent);
}
.toggle {
	display: none;
	position: fixed;
	top: calc(var(--header-current-height) / 2 - 1.1em);
	right: 2vw;
	align-items: center;
	z-index: 1001;
	border-radius: 0.8rem;
	background: rgba(255, 255, 255, 0.8);
	padding: 1.2rem;
	width: 2.2em;
	height: 2.2em;
	font-size: clamp(16px, 4vw, 30px);
	@media (width <= 1260px) {
		display: block;
	}
	@media (width <= 820px) {
		right: 3vw;
		width: max(5vh, 2.2em);
		height: max(5vh, 2.2em);
	}
}
.toggle_line {
	display: block;
	position: absolute;
	top: 50%;
	right: 0.6rem;
	left: 0.6rem;
	transform: translateY(-50%);
	transition:
		transform 0.3s ease,
		opacity 0.3s ease;
	border-radius: 0.8rem;
	background: var(--color-font);
	height: 0.12em;
}
.toggle .toggle_line:nth-child(1) {
	transform: translateY(-0.6em);
}
.toggle .toggle_line:nth-child(2) {
	transform: translateY(-50%);
}
.toggle .toggle_line:nth-child(3) {
	transform: translateY(0.45em);
}
.toggle.is-active .toggle_line:nth-child(1) {
	transform: translateY(0) rotate(45deg);
}
.toggle.is-active .toggle_line:nth-child(2) {
	opacity: 0;
}
.toggle.is-active .toggle_line:nth-child(3) {
	transform: translateY(-0) rotate(-45deg);
}

/* Hero
   ----------------------------------------------------------------- */
.hero {
	display: grid;
	position: relative;
	place-items: center;
	box-sizing: border-box;
	background: url(/image/hero/mainvisual@2x.webp) no-repeat center 30% / cover;
	padding-top: var(--header-height);
	width: 100%;
	height: 100svh;
	@media (width <= 1260px) {
		padding-top: var(--header-height-sm);
	}
	@media (width <= 820px) {
		height: 70svh;
	}
}
.hero_title {
	position: absolute;
	bottom: 30%;
	left: 10.6rem;
	@media (width <= 820px) {
		bottom: 8%;
		left: 2.4rem;
	}
}
.hero_title-line {
	display: block;
	background: #ffffff;
	padding: 0.8rem 1rem;
	font-weight: normal;
	font-size: 4rem;
	@media (width <= 820px) {
		font-size: 2.8rem;
	}
}
.hero_title-line:first-child {
	margin-bottom: 1.6rem;
}
/* Leading
   ----------------------------------------------------------------- */
.leading {
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 4.8rem;
	padding-block: 16rem 8rem;
	@media (width <= 820px) {
		padding-block: 8vh 4vh;
	}
}
.leading_title-wrapper {
	display: grid;
	position: relative;
	place-items: center;
	padding: 0 6.5rem 3rem;
	@media (width <= 820px) {
		padding: 0 4rem 0;
	}
}
.leading_title-line {
	position: absolute;
	bottom: 0;
	z-index: -1;
	@media (width <= 820px) {
		bottom: -2rem;
		width: 75vw;
	}
	@media (width <= 414px) {
		bottom: -1rem;
	}
}
.leading_text {
	display: flex;
	flex-direction: column;
	gap: 3.6rem;
	width: 64rem;
	line-height: 2;
	text-align: center;
	@media (width <= 820px) {
		gap: 4vh;
		width: 70vw;
	}
	@media (width <= 460px) {
		line-height: 1.7;
	}
}
.leading_deco {
	z-index: -1;
}
.leading_deco01 {
	top: 8%;
	left: 8%;
	width: 14rem;
	@media (width <= 820px) {
		top: -5em;
		left: -9vw;
	}
}
.leading_deco02 {
	top: 5%;
	right: 10%;
	width: 16rem;
	@media (width <= 820px) {
		top: -1em;
		right: -7em;
	}
}
.leading_deco03 {
	top: 45%;
	left: 10%;
	width: 25rem;
	@media (width <= 820px) {
		top: 24em;
		left: -10em;
	}
}
.leading_deco04 {
	top: 60%;
	left: 5%;
	width: 18rem;
	@media (width <= 820px) {
		top: 33em;
		left: -10em;
	}
}
.leading_deco05 {
	top: 55%;
	right: 6%;
	width: 23rem;
	@media (width <= 820px) {
		top: 45em;
		right: -10em;
	}
}
.leading_deco06 {
	top: 72%;
	right: 15%;
	width: 17rem;
	@media (width <= 820px) {
		top: 60em;
		right: -10em;
	}
}
/* Feature
   ----------------------------------------------------------------- */
.feature {
	position: relative;
	gap: 10rem;
	padding-block: 12rem 10rem;
	@media (width <= 1260px) {
		padding-block: 8rem 6rem;
	}
	@media (width <= 820px) {
		gap: 6.4rem;
		padding-block: 4rem 6.4rem;
	}
}
.feature_title-deco {
	position: absolute;
	z-index: -11;
}
.feature_title-deco01 {
	top: -6%;
	left: -4%;
	width: 27rem;
	@media (width <= 820px) {
		top: -4em;
		left: -14em;
	}
}
.feature_title-deco02 {
	top: -8%;
	left: 12%;
	width: 18rem;
	@media (width <= 820px) {
		top: -10em;
		left: -10em;
	}
}
.feature_title-deco03 {
	top: -8%;
	right: -4%;
	width: 25rem;
	@media (width <= 820px) {
		top: -10em;
		right: -16em;
	}
}
.feature_title-deco04 {
	top: -1%;
	right: 14%;
	width: 10rem;
	@media (width <= 820px) {
		top: -5em;
		right: 3em;
	}
}
.feature_title-deco05 {
	top: 4%;
	left: 16%;
	width: 10rem;
	@media (width <= 820px) {
		top: 10em;
		left: 0;
	}
}
.feature_title-deco06 {
	top: 6%;
	right: 3%;
	width: 15rem;
	@media (width <= 820px) {
		top: 10em;
		right: -4em;
	}
}
.feature_title-wrapper {
	display: grid;
	place-items: center;
	@media (width <= 820px) {
		padding-inline: 4rem;
	}
}
.feature_title {
	line-height: 1.7;
	text-align: center;
}
.feature_items {
	display: grid;
	position: relative;
	grid-template-rows: repeat(3, 1fr);
	place-items: center;
	gap: 8rem;
	z-index: -5;
	background:
		url(/image/feature/feature_item-bg04.svg) no-repeat center / contain;
	@media (width <= 1000px) {
		display: flex;
		flex-direction: column;
		gap: 6.4rem;
		margin-bottom: 0;
		background: none;
		width: stretch;
	}
	@media (width <= 820px) {
		gap: 4.8rem;
		width: 90vw;
	}
}
.feature_item {
	display: grid;
	position: relative;
	grid-template-rows: 50.4rem;
	grid-template-columns: 1fr 4rem 1fr;
	place-items: center;
	width: min(112rem, 90%);
	height: 50.4rem;
	@media (width <= 1000px) {
		display: flex;
		gap: 4.8rem;
		height: 40vh;
	}
	@media (width <= 820px) {
		flex-direction: column;
		gap: 3.2rem;
		width: 100%;
		height: auto;
	}
}
.feature_item02 {
	@media (width <= 1000px) {
		flex-direction: row-reverse;
	}
	@media (width <= 820px) {
		flex-direction: column;
	}
}
.feature_item-media {
	grid-row: 1 / 2;
	height: stretch;
	@media (width <= 820px) {
		flex: 1;
		width: 100%;
	}
}
.feature_item-media01 {
	grid-column: 1 / 3;
}
.feature_item-media02 {
	grid-column: 2 / 4;
}
.feature_item-media03 {
	grid-column: 1 / 3;
}
.feature_item-img {
	border-radius: 6rem;
	width: 60.4rem;
	height: stretch;
	object-fit: cover;
	@media (width <= 1000px) {
		width: 50vw;
		height: stretch;
	}
	@media (width <= 820px) {
		width: 100%;
		height: 40vh;
		object-fit: cover;
	}
}
.feature_textbox {
	grid-row: 1 / 2;
	align-self: center;
	z-index: 1;
	padding: 6rem;
	width: fit-content;
	@media (width <= 1000px) {
		padding-block: 2.4rem 4rem;
		width: 50vw;
		word-break: auto-phrase;
	}
	@media (width <= 820px) {
		flex: 1;
		padding: 0;
		width: 100%;
	}
}
.feature_textbox01 {
	grid-column: 2 / 4;
	background:
		url(/image/feature/feature_item-bg01.svg) no-repeat center / contain;
}
.feature_textbox02 {
	grid-column: 1 / 3;
	background:
		url(/image/feature/feature_item-bg02.svg) no-repeat center / contain;
}
.feature_textbox03 {
	grid-column: 2 / 4;
	background:
		url(/image/feature/feature_item-bg03.svg) no-repeat center / contain;
}
.feature_textbox01,
.feature_textbox02,
.feature_textbox03 {
	@media (width <= 1000px) {
		background: none;
	}
}

.feature_subtitle {
	font-size: var(--font-size-xl);
	@media (width <= 820px) {
		font-size: var(--font-size-lm);
	}
}
.feature_subtitle::before {
	vertical-align: -7%;
	margin-right: 1.6rem;
	border: hidden;
	color: var(--color-accent);
	font:
		600 4.8rem var(--font-fredoka),
		sans-serif;
	@media (width <= 820px) {
		margin-right: 0.8rem;
		font-size: var(--font-size-xl);
	}
}
.feature_subtitle > span {
	border-bottom: dotted 5px var(--color-accent);
	padding-bottom: 0.2rem;
}
.feature_subtitle01::before {
	content: "01";
}

.feature_subtitle02::before {
	content: "02";
}

.feature_subtitle03::before {
	content: "03";
}
.feature_text {
	margin-top: 4rem;
	line-height: 1.7;
}
.feature_item-deco01 {
	top: -13rem;
	left: -7rem;
	width: 17rem;
	@media (width <= 820px) {
		display: none;
	}
}
.feature_item-deco02 {
	top: 2rem;
	left: -13rem;
	z-index: -1;
	@media (width <= 820px) {
		top: 6em;
		left: -10em;
	}
}
.feature_item-deco03 {
	top: 0rem;
	right: -20rem;
	@media (width <= 820px) {
		display: none;
	}
}
.feature_item-deco04 {
	top: 37rem;
	right: -7rem;
	@media (width <= 820px) {
		top: 45em;
		right: -12em;
	}
}
.feature_item-deco05 {
	top: 37rem;
	left: -10rem;
	z-index: 1;
	@media (width <= 820px) {
		display: none;
	}
}
.feature_item-deco06 {
	top: 100rem;
	right: -6rem;
	z-index: -10;
	@media (width <= 820px) {
		top: 100em;
		left: -20em;
	}
}
.feature_item-deco07 {
	top: 15rem;
	left: -27rem;
	z-index: -1;
	@media (width <= 820px) {
		display: none;
	}
}
.feature_item-deco08 {
	top: 30rem;
	left: -15rem;
	z-index: -1;
	@media (width <= 820px) {
		top: 20em;
		left: -20em;
	}
}
.feature_item-deco09 {
	top: 0rem;
	right: -4rem;
	z-index: 1;
	@media (width <= 820px) {
		display: none;
	}
}
.feature_item-deco10 {
	top: 16rem;
	right: -14rem;
	@media (width <= 820px) {
		top: 30em;
		right: -16em;
	}
}
/* Program
   ----------------------------------------------------------------- */
.program {
	display: flex;
	position: relative;
	justify-content: center;
	gap: 11rem;
	background:
		url(/public/image/program/program_img-bg.svg) no-repeat 90% center /
		max(75rem, 55vw) 90%;
	padding-block: 10rem 9.6rem;
	@media (width <= 1260px) {
		padding-block: 8rem;
	}
	@media (width <= 950px) {
		background: none;
		padding-block: 4rem;
	}
	@media (width <= 820px) {
		flex-direction: column;
		gap: 8rem;
	}
}
.program_wrapper {
	display: flex;
	flex-direction: column;
	gap: 4.8rem;
	width: 28.8rem;
	@media (width <= 820px) {
		width: 60vw;
		text-align: left;
	}
}
.program_title::after {
	content: "Program";
}
.program_text {
	line-height: 1.7;
}
.program_button {
	justify-content: center;
	gap: 1.6rem;
	padding: 1.6rem 3.6rem;
	width: 24rem;
	font-size: 2rem;
}
.program_button::after {
	content: url(/public/image/common/arrow.svg);
}
.program_images {
	@media (width <= 820px) {
		display: flex;
		width: 100vw;
		overflow: hidden;
	}
}
@keyframes scroll-left {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
.program_image-list {
	display: grid;
	anchor-name: --program_image-list-anchor;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
	width: 60rem;
	height: 46rem;
	@media (width <= 820px) {
		place-items: center;
		gap: 2.4rem;
		animation: scroll-left 8s infinite linear;
		padding-inline: 1.2rem;
		width: 100%;
	}
}
.program_image-list:nth-child(2) {
	display: none;
	@media (width <= 820px) {
		display: grid;
	}
}
.program_image {
	@media (width <= 820px) {
		width: calc(100vw / 2 - 2.4rem);
	}
}
.program_image-item {
	display: block;
	border-radius: 3.2rem;
	width: 28rem;
	height: 21rem;
	object-fit: cover;
	@media (width <= 820px) {
		width: 100%;
	}
}
.program_deco01 {
	bottom: 20rem;
	left: -14rem;
	width: 26rem;
	@media (width <= 1260px) {
		bottom: -1em;
		left: -18em;
	}
	@media (width <= 820px) {
		top: 20em;
		left: -15em;
	}
}
.program_deco02 {
	right: -7rem;
	bottom: -14rem;
	@media (width <= 1260px) {
		top: 0;
		right: -10em;
	}
	@media (width <= 820px) {
		right: -6em;
	}
}
.program_deco03 {
	position: absolute;
	position-anchor: --program_image-list-anchor;
	right: calc(anchor(right) - 10em);
	bottom: calc(anchor(bottom) - 1em);
	@media (width <= 950px) {
		display: none;
	}
}
/* CTA
   ----------------------------------------------------------------- */
.cta {
	display: flex;
	position: relative;
	justify-content: center;
	gap: 7.2rem;
	background: url(/image/cta/cta-background01.svg) no-repeat center / 75vw;
	width: stretch;
	height: 42rem;
	@media (width <= 820px) {
		flex-direction: column;
		gap: 3.6rem;
		background:
			url(/image/cta/cta-background02.svg) no-repeat center / max(70vw, 50rem);
		height: 50rem;
	}
}
.cta_button {
	gap: 3.2rem;
	padding: 3.3rem 4rem;
	font-weight: 600;
	font-size: var(--font-size-xl);
	@media (width <= 820px) {
		justify-content: center;
		width: min(80vw, 40rem);
		font-size: var(--font-size-lm);
	}
}
.cta_button::after {
	content: url(/public/image/common/arrow.svg);
}
.cta_deco {
	z-index: 1;
	@media (width <= 950px) {
		scale: 0.8;
	}
	@media (width <= 820px) {
		scale: 0.9;
	}
}
.cta_deco01 {
	top: 0;
	left: 7rem;
	@media (width <= 950px) {
		top: -3rem;
		left: -6rem;
	}
	@media (width <= 820px) {
		top: -7rem;
		left: -13rem;
	}
}
.cta_deco02 {
	right: 13rem;
	bottom: 1rem;
	@media (width <= 950px) {
		right: -6rem;
		bottom: -6rem;
	}
	@media (width <= 820px) {
		right: -12rem;
		bottom: -8rem;
	}
}
.cta_deco03 {
	bottom: 5rem;
	left: 14rem;
	z-index: 1;
	@media (width <= 950px) {
		display: none;
	}
}
/* Access
   ----------------------------------------------------------------- */
.access {
	background:
		url(/image/access/access-deco02.svg) no-repeat 95% 80% / 17rem 20rem,
		url(/image/access/access-background01.svg) no-repeat center 4rem / 130rem
		auto,
		url(/image/access/access-deco01.svg) no-repeat 5% 10% / 30rem 23rem,
		url(/image/access/access-background02.svg) no-repeat top center / cover;
	padding-block: 8.8rem 12rem;
	@media (width <= 1260px) {
		background-position:
			105% 90%,
			center,
			-5% 5%,
			top center;
		background-size:
			17rem 20rem,
			max(110rem, 95vw) max(70rem, 55vh),
			30rem 23rem,
			cover;
	}
	@media (width <= 820px) {
		background: none;
		padding-block: 3.2rem 6.4rem;
	}
}
.access_title {
	text-align: center;
}
.access_title:after {
	content: "Access";
}
.access_wrapper {
	display: flex;
	align-items: center;
	gap: 8rem;
	margin-top: 6.4rem;
	width: 100rem;
	@media (width <= 950px) {
		gap: 4.8rem;
	}
	@media (width <= 820px) {
		flex-direction: column-reverse;
		padding-inline: 4rem;
		width: 70vw;
	}
	@media (width <= 600px) {
		width: 100vw;
	}
}
.access_g-map {
	border-radius: 5.6rem;
	width: 60rem;
	height: 45rem;
	@media (width <= 820px) {
		width: 100%;
		height: 60vw;
	}
}
.access_desc {
	display: flex;
	flex-direction: column;
	gap: 3.2rem;
	@media (width <= 820px) {
		gap: 1.6rem;
		width: 100%;
		text-align: center;
	}
}
.access_desc-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.access_subtitle {
	font-size: 2rem;
}
/* Contact-CTA
   ----------------------------------------------------------------- */
.contact-cta {
	position: relative;
	background:
		url(/image/contactCTA/contactCTA-background01.svg) no-repeat top center /
		90rem var(--color-main);
	padding-block: 8rem 12.8rem;
	text-align: center;
	@media (width <= 820px) {
		background: none;
		padding-block: 4rem 8rem;
	}
}
.contact-cta_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 4.8rem;
}
.contact-cta_title:after {
	content: "Contact";
}
.contact-cta_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
}
.contact-cta_text {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
	font-weight: 500;
	font-size: var(--font-size-lm);
	@media (width <= 820px) {
		align-items: center;
		font-size: min(6vw, var(--font-size-lm));
	}
}
.contact-cta_phone {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.8rem;
	margin-right: 4rem;
	font-weight: 700;
	font-size: 4rem;
	@media (width <= 820px) {
		gap: 0.4rem;
		margin-right: 3.6rem;
		font-size: min(10vw, var(--font-size-xl));
	}
}
.contact-cta_phone:before {
	background:
		url(/image/contactCTA/contactCTA-phone.svg) no-repeat center / contain;
	width: min(3.2rem, 6vw);
	height: min(3.2rem, 6vw);
	content: "";
}
.contact-cta_button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
	padding: 2.6rem 4.8rem;
	font-weight: bold;
	font-size: var(--font-size-lm);
	@media (width <= 820px) {
		gap: 1.2rem;
		padding: min(2.4rem, 6vw) min(4rem, 10vw);
		width: min(80vw, 40rem);
		font-size: min(6vw, var(--font-size-lm));
		word-break: break-word;
	}
}
.contact-cta_button:before {
	background:
		url(/public/image/contactCTA/contactCTA-mail.svg) no-repeat center / contain;
	width: min(3.2rem, 8vw);
	height: min(3.2rem, 8vw);
	content: "";
}
.contact-cta_deco {
	z-index: 1;
}
.contact-cta_deco > img {
	@media (width <= 1260px) {
		scale: 0.7;
	}
	@media (width <= 820px) {
		scale: 0.8;
	}
}
.contact-cta_deco01 {
	top: 1rem;
	left: 16rem;
	@media (width <= 1260px) {
		left: 6em;
	}
	@media (width <= 820px) {
		left: -10em;
	}
}
.contact-cta_deco02 {
	bottom: 6rem;
	left: 6rem;
	@media (width <= 820px) {
		left: -4em;
	}
}
.contact-cta_deco03 {
	top: 6rem;
	right: 6rem;
	@media (width <= 820px) {
		top: 15em;
		right: -2em;
	}
}

/* Footer
   ----------------------------------------------------------------- */
.footer {
	display: flex;
	position: relative;
	flex-direction: column;
	padding-block: 16rem;
	overflow: hidden;
	@media (width <= 820px) {
		gap: 4rem;
		padding: 4rem;
	}
}
.footer::before {
	position: absolute;
	top: 7rem;
	right: -10rem;
	background: url(/image/common/footer-01.svg) no-repeat;
	width: 27.6rem;
	height: 27.6rem;
	content: "";
}
.footer::after {
	position: absolute;
	top: 35rem;
	left: -7rem;
	background: url(/image/common/footer-02.svg) no-repeat;
	width: 19rem;
	height: 19rem;
	content: "";
}
.footer_wrapper {
	display: flex;
	justify-content: space-between;
	gap: 12rem;
	width: 80rem;
	height: 30rem;
	@media (width <= 820px) {
		flex-direction: column;
		justify-content: center;
		gap: 4rem;
		width: stretch;
	}
}
.footer_logo-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30rem;
	height: stretch;
}
.footer_logo {
	width: 100%;
}
.footer .nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 40rem;
	height: stretch;
	@media (width <= 820px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2.4rem;
		width: stretch;
	}
}
.footer .nav_list {
	display: flex;
	justify-content: space-between;
	@media (width <= 820px) {
		display: contents;
	}
}
.footer .nav_list-second {
	flex-wrap: wrap;
	gap: 4rem 3.2rem;
	@media (width <= 820px) {
		gap: 2.4rem;
	}
}
.footer .nav_link {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2.4rem;
	font-weight: bold;
	font-size: var(--font-size-sm);
	@media (width <= 820px) {
		align-items: stretch;
	}
}
.footer .nav_sublist {
	@media (width <= 820px) {
		display: none;
	}
}
.footer .nav_sublink {
	font-weight: normal;
	line-height: 1.4;
}
.footer .nav_sublink::before {
	content: "-";
}
.footer .nav_sublink a {
	font-size: 1.4rem;
}
.footer .nav_link a:hover {
	color: var(--color-accent);
}
.footer .copyright {
	width: 80rem;
	font-size: 1.2rem;
	@media (width <= 820px) {
		width: stretch;
	}
}
.footer_deco01 {
	bottom: 5.6rem;
	left: -4.8rem;
}
.footer_deco02 {
	top: 3.7rem;
	right: -13.6rem;
}
/* Contact
   ----------------------------------------------------------------- */
.contact {
	display: grid;
	place-items: center;
	gap: 8rem;
	padding-block: calc(var(--header-height) + 8rem) 8rem;
	@media (width <= 820px) {
		padding-block: calc(var(--header-height) + 6vh) 6vh;
		gap: 6.4rem;
	}
}
.contact_title-wrapper {
	display: grid;
	place-items: center;
	gap: 1.6rem;
	text-align: center;
	@media (width <= 820px) {
		padding-inline: 4vw;
	}
}
.contact_title-text {
	font-size: var(--font-size-sm);
}
.form {
	display: grid;
	place-items: center;
	gap: 4.6rem;
	width: 72rem;
	@media (width <= 820px) {
		width: 90vw;
		gap: 3.2rem;
	}
}
.form_confirm,
.form_complete {
	gap: 8rem;
}
:where(.form) input,
:where(.form) select {
	height: 3.6rem;
}
:where(.form) input,
:where(.form) select,
:where(.form) textarea {
	border: none;
	border-bottom: 0.067rem solid #333333;
	border-radius: 0.4rem;
	background: #f4f4f4;
	padding: 0.8rem;
	font-size: var(--font-size-sm);
}
:where(.form) input:focus,
:where(.form) select:focus,
:where(.form) textarea:focus {
	outline: 0.2rem solid var(--color-accent);
	outline-offset: 0;
}
:where(.form) input:focus::placeholder,
:where(.form) select:focus::placeholder,
:where(.form) textarea:focus::placeholder {
	color: transparent;
}

.form_list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.6rem;
	width: 100%;
	line-height: 150%;
}
.form_item {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}
.form_legend {
	display: flex;
	align-items: center;
	gap: 0.8rem;
	font-size: var(--font-size-sm);
}
.form_badge {
	border-radius: 0.32rem;
	padding: 0.2rem 0.4rem;
	color: #ffffff;
	font-size: 1.1rem;
}
.form_badge-required {
	background: var(--color-form_accent);
}
.form_badge-optional {
	background: var(--color-label-sub);
}
.form_name-group {
	display: flex;
	gap: 5.6rem;
	@media (width <= 820px) {
		gap: 8vw;
	}
}
.form_name-field {
	display: flex;
	flex-direction: column;
}
.form_name-input {
	width: 25.2rem;
	@media (width <= 820px) {
		width: 100%;
	}
}
.form_example {
	color: var(--color-form_main);
	font-size: 1.3rem;
}
.form_field {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.form_error-message-wrapper {
	height: 1.6rem;
}
.form_select {
	width: 56rem;
	font-size: 1.44rem;
	@media (width <= 820px) {
		width: 100%;
	}
}
.form_select-placeholder {
	color: var(--color-main);
}
.form_textarea {
	height: 11.2rem;
}
.form_checkbox {
	width: 2rem;
	height: 2rem;
}
.form_agreement {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.8rem;
}
.form_agreement-item {
	display: flex;
	align-items: center;
	gap: 1.4rem;
}
.form_agreement-label {
	font-size: var(--font-size-sm);
}
.form_agreement-link {
	text-decoration: underline;
	text-underline-offset: 0.5rem;
}
.form_button-group {
	display: flex;
	gap: 4rem;
	@media (width <= 820px) {
		gap: 2.4rem;
	}
}
.form_button {
	display: grid;
	place-items: center;
	border: none;
	border-radius: 4rem;
	width: 24rem;
	height: 4.8rem;
	color: var(--color-base);
	font-size: var(--font-size-sm);
	@media (width <= 820px) {
		width: min(40vw, 24rem);
	}
}
.form_button-submit {
	background: var(--color-accent);
}
.form_button-back {
	border: 0.2rem solid var(--color-accent);
	/* background: var(--color-label-sub); */
	background: var(--color-base);
	color: var(--color-accent);
}
.form_button-back:hover {
	opacity: 0.6;
}
.form_error-message {
	color: var(--color-form_accent);
	font-size: 1.2rem;
}
.form_confirm-list {
	gap: 3.2rem;
}
.form_confirm-text {
	font-size: 1.4rem;
}
.form_complete-message {
	line-height: 2.5;
	text-align: center;
}

/* ScrollToTop
   ----------------------------------------------------------------- */
.scroll-to-top {
	display: grid;
	position: fixed;
	right: 3.2rem;
	bottom: 3.2rem;
	place-items: center;
	opacity: 0;
	z-index: 1000;
	transition:
		opacity 0.3s ease,
		transform 0.3s ease,
		background-color 0.3s ease;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	background: var(--color-accent);
	padding: 0;
	width: 5.6rem;
	height: 5.6rem;
	pointer-events: none;
	color: #ffffff;
}
.scroll-to-top.visible {
	opacity: 1;
	pointer-events: auto;
}
.scroll-to-top:hover {
	transform: translateY(-0.4rem);
	outline: 0.3rem solid var(--color-accent);
	background: var(--color-base);
	color: var(--color-accent);
}
.scroll-to-top svg {
	width: 2.4rem;
	height: 2.4rem;
}
@media (width < 820px) {
	.scroll-to-top {
		right: 2rem;
		bottom: 2rem;
		width: 4.8rem;
		height: 4.8rem;
	}
	.scroll-to-top svg {
		width: 2rem;
		height: 2rem;
	}
}
